.sidebar{

width:260px;

background:white;

padding:30px;

border-right:1px solid #EAEAEA;

display:flex;

flex-direction:column;

}

.logo{

margin-bottom:40px;

}

.logo h1{

margin:0;

color:#5A73A5;

font-size:28px;

}

.logo p{

margin-top:6px;

color:#FF90AD;

}

nav{

display:flex;

flex-direction:column;

gap:12px;

}

a{

display:flex;

align-items:center;

gap:15px;

padding:15px;

border-radius:15px;

text-decoration:none;

color:#637A93;

font-weight:500;

transition:.25s;

}

a:hover{

background:#F9F3FF;

}

.active{

background:#FFE8EF;

color:#FF8BA9;

}