.history{

margin-top:30px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}

table{

width:100%;

border-collapse:collapse;

}

th{

text-align:left;

padding:14px;

color:#6A7F95;

border-bottom:1px solid #E9EDF3;

}

td{

padding:14px;

color:#56677C;

border-bottom:1px solid #F4F6F9;

}

.status{

padding:6px 14px;

border-radius:20px;

background:#EEF7FF;

color:#5D7DA7;

}