mat-card{

padding:25px;

border-radius:20px;

}

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

label{

font-size:13px;

color:#93A3B5;

}

p{

margin-top:4px;

color:#56677C;

font-weight:600;

}