.card{

padding:24px;

height:180px;

display:flex;

flex-direction:column;

justify-content:space-between;

}

.top{

display:flex;

gap:18px;

align-items:center;

}

.icon{

width:60px;

height:60px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:#EEF5FF;

}

.icon span{

font-size:32px;

color:#6AA9FF;

}

h4{

margin:0;

font-size:18px;

font-weight:600;

color:#5D728A;

}

h1{

margin:4px 0;

font-size:38px;

color:#5D728A;

}

p{

color:#93A3B5;

margin:0;

}

.progress{

height:8px;

background:#EEF1F6;

border-radius:10px;

overflow:hidden;

}

.bar{

height:100%;

width:65%;

background:#6AA9FF;

}

.pink{

.icon{

background:#FFF0F4;

}

.icon span{

color:#FF8EAB;

}

.bar{

background:#FF8EAB;

}

}