.card{

background:white;

border-radius:20px;

padding:20px;

height:100%;

}

.claim{

display:flex;

justify-content:space-between;

align-items:center;

padding:16px;

margin-bottom:12px;

border-radius:14px;

cursor:pointer;

transition:.2s;

}

.claim:hover{

background:#FFF4F7;

}

.status{

background:#EEF7FF;

padding:6px 14px;

border-radius:30px;

color:#5A78A3;

font-size:13px;

}