.workflow{

display:flex;

justify-content:space-around;

align-items:center;

padding:30px;

background:white;

border-radius:20px;

}

.step{

display:flex;

align-items:center;

gap:15px;

flex:1;

}

.circle{

width:70px;

height:70px;

border-radius:50%;

background:#EEF5FF;

display:flex;

align-items:center;

justify-content:center;

}

.circle span{

font-size:32px;

color:#6AA9FF;

}

.line{

height:3px;

background:#6AA9FF;

flex:1;

border-radius:20px;

opacity:.35;

}

p{

margin:0;

font-size:18px;

color:#6A7C91;

}